body {
  margin: 0;
  padding: 0;
  background: #faf7f3;
}

.loginSection {
  margin: 15% 0 0 25%;
  width: 50%;
  background: white;
  .loginDiv {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-shadow: 3px 3px #EDEEEE;
    h1 {
      text-align: center;
      font-family: 'Berkshire Swash', cursive;
      color: white;
      font-size: 4em;
      border-radius: 4px;
      margin-top: 36px;
    }
    .loginForm {
      padding: 5% 15% 15% 15%;
      .l-loginBtn {
        background: #00477B;
        color: white;
        margin-top: 3%;
        width: 49%;
        border: 1px solid #CCCCCC;
      }
      .l-signUpBtn {
        background: #63AEEB;
        color: white;
        margin-top: 3%;
        width: 49.5%;
        border: 1px solid #CCCCCC;
      }
      .loginInput {
        margin-bottom: 2%;
      }
    }
  }
  .signUpDiv {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-shadow: 3px 3px #EDEEEE;
    h1 {
      text-align: center;
      font-family: 'Berkshire Swash', cursive;
      color: white;
      font-size: 4em;
      border-radius: 4px;
      margin-top: 36px;
    }
    .signUpForm {
      padding: 5% 15% 15% 15%;
      .s-loginBtn {
        background: #63AEEB;
        color: white;
        margin-top: 3%;
        width: 49%;
        border: 1px solid #CCCCCC;
      }
      .s-signUpBtn {
        background: #00477B;
        color: white;
        margin-top: 3%;
        width: 49.5%;
        border: 1px solid #CCCCCC;
      }
      .signUpInput {
        margin-bottom: 2%;
      }
    }
  }
}
.titleSpan {
  color: white;
  background: #00477B;
  padding: 5px 5%;
  border-radius: 6px;
}
.form-control {
  margin-bottom: 2%;
}

///////////////////////////////////////////////// - Profile Page

header {
  margin-top: -20px;
  h3 {
    background-color: #00477B;
    color: white;
    padding: 1.5% 5%;
    font-family: 'Berkshire Swash', cursive;
    font-size: 2.5em;
    border-bottom: 2px solid #CCCCCC;
  }
  .headerNav{
    list-style: none;
    ul {
      position: relative;
      left: 78%;
      top: -55px;
    }
    li {
      display: inline-block;
      padding: 0 1%;
      color: white;
      font-family: 'PT Sans', sans-serif;
      font-size: 1.25em;
    }
  }
}

.avatar{
  img {
    margin-left: 15%;
  }
}

.profileInfo {
  background: white;
  height: 250px;
  box-shadow: 1px 1px #CCCCCC;
  ul{
    li {
      list-style: none;
      margin-bottom: 5%;
      margin-right: 10%;
      h3 {
        border-bottom: 1px solid #CCCCCC;
        padding: 2%;
      }
      h5 {
        margin-top: 10%;
      }
    }
  }
}
.liSpan {
  border-radius: 4px;
  padding: 1%;
}

.profile {
  div {
    display: inline-block;
    width: 45%;
    vertical-align: top;
  }
}



////////////////////////////////////////////////////////// - Profile Items

.myItems {
  width: 100%;
  margin: 10% 0 2% 11%;
  h2 {
    span {
      background: white;
      padding: 2%;
      box-shadow: 1px 1px #CCCCCC;
    }
  }
}
.itemsList {
  width: 75%;
  display: block;
  background: white;
  margin-left: 11%;
  margin-top: 3%;
  box-shadow: 1px 1px #CCCCCC;
  img {
    max-width: 120px;
    max-height: 120px;
    margin: 5% 0 0 4%;
  }
  ul {
    position: relative;
    left: 18%;
    top: -135px;
    width: 80%;
  }
  li {
    list-style: none;
  }
}







////////////////////////////////////////////////////////// - Footer


footer {
  background: #00467D;
  h3 {
    color: white;
    padding: 2%;
    text-align: center;
    font-size: 1.75em;
    font-family: 'Berkshire Swash', cursive;
    .footerSpan {
      background: white;
      border-radius: 4px;
      padding: .75%;
      color: #00477B;
    }
  }
}
